@model IEnumerable<Shop.Application.Categories.GetCategories.CategoryViewModel>

@{

}

@foreach (var category in Model.Where(x => x.ParentCategoryId == null))
{
    <ul class="d-block">
        <li class="title">
            <a>@category.Title</a>
        </li>
            @foreach (var child in Model.Where(x => x.ParentCategoryId == category.Id))
            {
                <li onclick="categoryProducts(event)">
                    <a data-category-id="@child.Id" asp-page="/Index" asp-route-categoryId="@child.Id">@child.Title</a>
                </li>
            }
    </ul>
}