@page
@model Shop.UI.Pages.Accounts.ConfirmPasswordModel
@{
}

<h2 class="title">Введите новый пароль</h2>
<form method="post">
    <input class="input" type="password" asp-for="Model.Password" />
    <input class="input" type="password" asp-for="Model.ConfirmPassword" />
    <input type="submit" vlaue="Изменить"/>
</form>