@page
@model Shop.UI.Pages.Accounts.PersonalAreaModel
@{
}

<div class="container">
    <div class="title">Моя учётная запись</div>
    <div class="columns has-text-centered">
        <div class="column is-3">
            <a asp-page="/EditData">
                <img src="~/images/personalArea/edit-64x64.png" alt="Основные данные" centered />
                <div>Основные данные</div>
            </a>
        </div>
        <div class="column is-3">
            <a asp-page="/EditPassword">
                <img src="~/images/personalArea/password-64x64.png" alt="Изменить свой пароль" />
                <div>Изменить свой пароль</div>
            </a>
        </div>
    </div>
    <div class="title">Мои заказы</div>
    <div class="columns has-text-centered">
        <div class="column is-3">
            <a asp-page="/UserOrders">
                <img src="~/images/personalArea/order-64x64.png" alt="История заказов"/>
                <div>История заказов</div>
            </a>
        </div>
    </div>
</div>
