@page
@model Shop.UI.Pages.Admin.ConfigureUsersModel
@{
}


<div id="app" class="container">
    <div>
        <input v-model="username" />
        <button @@click="createUser">Create</button>
    </div>
    <br/>
    <div>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <tr>
                <th>UserName</th>
            </tr>
            <tr v-for="(user, index) in users">
                <td>{{user.name}}</td>
                <td><a @@click="deleteUser(user.email, index)"/>Delete User</td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/admin/users.js" type="text/javascript"></script>
}