@page
@model Shop.UI.Pages.EditPasswordModel
@{
}

<h2>Изменение пароля</h2>

<form method="post">
    <div class="field">
        <p class="control">
            <label class="label">Старый пароль</label>
            <input class="input" asp-for="ChangePasswordModel.OldPassword" />
        </p>
    </div>

    <div class="field">
        <p class="control">
            <label class="label">Новый пароль</label>
            <input class="input" asp-for="ChangePasswordModel.NewPassword" />
        </p>
    </div>

    <div class="field">
        <p class="control">
            <label class="label">Подтверждение нового пароля</label>
            <input class="input" asp-for="ChangePasswordModel.ConfirmNewPassword" />
        </p>
    </div>

    <input type="submit" value="Изменить" />
</form>

