@page
@model Shop.UI.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h2 class="title">@ViewData["Title"]</h2>
<form method="post">
    <div class="column">
        <div class="column is-6">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="email" placeholder="Введите email" asp-for="Model.Email"/>
                </div>
                <div class="control">
                    <button class="button is-success" type="submit">
                        Отправить
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>
