@page
@model Shop.UI.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h2 class="title">@ViewData["Title"]</h2>
<form method="post">
    <h4>Введите почту</h4>
    <input class="input" asp-for="Model.Email"/>
    <input class="btn-primary" type="submit" value="Отправить"/>
</form>
